<html>
  <head>
    <title>Shoe Experts</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <nav class="navbar navbar-inverse">
      <br>
      <h1>Shoe Experts</h1>
      <br>
      <h2>A place to search for shoes and the stores that carry them.</h3>
    </nav>
          <div class='container'>
          <div class="row">
                {% if stores is not empty %}
                    <h3>Stores that carry {{ brand.GetBrandName }}:</h3>
                    <ul>
                        {% for store in stores %}
                            <li>{{ store.getStoreName }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}

           <h3>Choose a store that carries {{ brand.GetBrandName }}:</h3>

           <form action='/add_stores' method='post'>
               <label for="store_id">Select a Store (if there are no choices, visit the stores page to add stores):</label>
               <input id="brand_id" name="brand_id" type="hidden" value="{{ brand.getId }}">
               <div class="input-group">
               <select id='store_id' name='store_id' type='text'class="form-control">
                   {% for store in all_stores %}
                   <option value="{{ store.getId }}"> {{ store.getStoreName }} </option>
                   {% endfor %}
               </select>
               <span class="input-group-btn">
                   <button class="btn btn-warning" type='submit'>Add Store</button>
               </span>
           </div>
           </form>
           <a href="/"><button class="btn-success btn-lg">Home</button></a>
        </div>
        </div>
  </body>
</html>
