<html>
  <head>
    <title>Shoe Experts</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <nav class="navbar navbar-inverse">
      <h1>Shoe Experts</h1>
      <h2>A place to search for shoes and the stores that carry them.</h3>
    </nav>
          <div class='container'>
          <div class="row">
                {% if stores is not empty %}
                    <p>Shoe stores carried by {{ store.GetStoreName }}:</p>
                    <ul>
                        {% for store in stores %}
                            <li>{{ store.getStoreName }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}

          <h3>Add a store to {{ store.GetStoreName }}:</h3>

           <p>Enter a shoe store to {{ store.getStoreName }}:</p>
            <form action='/add_stores' method='post'>
                <input id='store_id' class='form-control' name="store_id" type="hidden" value="{{ store.getId()}}">
                <div class ='form-group'>
                    <label for='store_name'></label>
                    <input id='store_name' class='form-control' placeholder='Store Name' name='store_name' type='text'>
                    <br>
                    <button type='submit' class='btn btn-danger'>Add Store</button>
                </div>
            </form>
                <a class="btn-success btn-lg" href="/stores/{{ store.getId }}/edit" role="button">Edit or Delete Store</a>
        </div>
        </div>
  </body>
</html>
